footer {
    margin-top: 13rem;
    position: relative;
    .shape {
        margin-top: -15rem;
        z-index: -1;
        position: absolute;
        background-image: url('../assets/bottom-wave.svg');
        @include background-props(100%);
        height: 30rem;
        width: 100%;
    }
    .text {
        p {
            @include paragraph-properties;
            text-align: center;
            font-size: 1.9rem;
        }
    }

}