header {
    .top-wave {
      background-image: url("../assets/top-wave.svg");
      @include background-props(cover);
      height: 210px;
    }
    .logo {
      display: flex;
      justify-content: center;
    }
}